@(dieNumber: Integer)

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" href="download-style.css" />
    <link type="text/css" href="text-toolbar.css" rel="stylesheet" />
</head>
<body>

<script>
function getVal(id){
document.form.action = "b"+id;
}

function getActive(id){
var me = new Packages.Application();
return me.isActive(id);
 
}
</script>

<form action="die">
<div class="BUTTON" style="z_index: 1000; top: 0px; height: 150; width: 150; position: absolute; left: 0px; ">
	<h1>Number @dieNumber</h1>
	<button id="btDie" style="background-image:url('images/center.jpg');width: 100%; height:100%;" ></button>
</div>
</form>


<form name="form" action="">
    <div class="BUTTON" style="background-image:url('data:image/jpg;base64,');width:3000px;left:-960px;background-repeat:no-repeat;height:1070px;">
        
        <div class="BUTTON " style="z_index: 1000; top: 365px; height: 253; width: 293; position: absolute; left: 1320px; ">
            
                <button id="0_0"  onClick="getVal(id)" style="background-color:33CC33;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON" style="z_index: auto; top: 215px; height: 53; width: 63; position: absolute; left: 1645px; ">
        
                <button id="1_3" onClick="getVal(id)"  style="background-color:black;width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 115px; height: 53; width: 63; position: absolute; left: 1730px; ">
        
                <button id="1_1" onClick="getVal(id)" disabled="getActive(id)" style="background-color:6699FF;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 215px; height: 53; width: 63; position: absolute; left: 1220px; ">
            
                <button id="6_3" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 315px; height: 53; width: 63; position: absolute; left: 1300px; ">
            
                <button id="6_5" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 265px; height: 53; width: 63; position: absolute; left: 1260px; ">
            
                <button id="6_4" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 115px; height: 53; width: 63; position: absolute; left: 1145px; ">
            
                <button id="6_1" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1200px; ">
            
                <button id="5_4" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1020px; ">
            
                <button id="5_1" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1080px; ">
            
                <button id="5_2" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1140px; ">
            
                <button id="5_3" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: 1000; top: 455px; height: 53; width: 63; position: absolute; left: 1610px; ">
            
                <button id="2_5" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1850px; ">
            
                <button id="2_1" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1670px; ">
            
                <button id="2_4" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1730px; ">
            
                <button id="2_3" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1790px; ">
            
                <button id="2_2" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 665px; height: 53; width: 63; position: absolute; left: 1600px; ">
            
                <button id="3_4" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 715px; height: 53; width: 63; position: absolute; left: 1635px; ">
            
                <button id="3_3" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >          
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 815px; height: 53; width: 63; position: absolute; left: 1705px; ">
            
                <button id="3_1" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >          
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 765px; height: 53; width: 63; position: absolute; left: 1665px; ">
            
                <button id="3_2" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 615px; height: 53; width: 63; position: absolute; left: 1565px; ">
            
                <button id="3_5" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 455px; height: 53; width: 103; position: absolute; left: 1910px; ">
            
                <button id="0_14" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: 1003; top: 45px; height: 83; width: 83; position: absolute; left: 1770px; ">
            
                <button id="0_7" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 110px; height: 63; width: 63; position: absolute; left: 1835px; ">
            
                <button id="0_8" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 330px; height: 63; width: 63; position: absolute; left: 1955px; ">
            
                <button id="0_12" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 315px; height: 53; width: 63; position: absolute; left: 1570px; ">
            
                <button id="1_5" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 150px; height: 63; width: 63; position: absolute; left: 1895px; ">
            
                <button id="0_9" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 270px; height: 63; width: 63; position: absolute; left: 1955px; ">
            
                <button id="0_11" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >      
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 210px; height: 63; width: 63; position: absolute; left: 1935px; ">
            
                <button id="0_10" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 390px; height: 63; width: 63; position: absolute; left: 1955px; ">
            
                <button id="0_13" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >      
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 570px; height: 63; width: 63; position: absolute; left: 1950px; ">
            
                <button id="0_16" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 510px; height: 63; width: 63; position: absolute; left: 1950px; ">
            
                <button id="0_15" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 630px; height: 63; width: 63; position: absolute; left: 1950px; ">
            
                <button id="0_17" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 810px; height: 53; width: 63; position: absolute; left: 1090px; ">
            
                <button id="4_1" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 165px; height: 53; width: 63; position: absolute; left: 1180px; ">
            
                <button id="6_2" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 710px; height: 53; width: 63; position: absolute; left: 1175px; ">
            
                <button id="4_3" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 760px; height: 53; width: 63; position: absolute; left: 1135px; ">
            
                <button id="4_2" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 660px; height: 53; width: 63; position: absolute; left: 1220px; ">
            
                <button id="4_4" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 615px; height: 53; width: 63; position: absolute; left: 1265px; ">
            
                <button id="4_5" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: 1001; top: 865px; height: 73; width: 93; position: absolute; left: 1750px; ">
            
                <button id="0_21" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 815px; height: 58; width: 73; position: absolute; left: 1810px; ">
            
                <button id="0_20" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 690px; height: 63; width: 68; position: absolute; left: 1925px; ">
            
                <button id="0_18" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 755px; height: 63; width: 73; position: absolute; left: 1875px; ">
            
                <button id="0_19" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 915px; height: 58; width: 123; position: absolute; left: 1090px; ">
            
                <button id="0_27" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 915px; height: 58; width: 118; position: absolute; left: 1560px; ">
            
                <button id="0_23" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 915px; height: 58; width: 118; position: absolute; left: 1445px; ">
            
                <button id="0_24" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >      
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 915px; height: 58; width: 128; position: absolute; left: 1325px; ">
            
                <button id="0_25" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 915px; height: 58; width: 118; position: absolute; left: 1210px; ">
            
                <button id="0_26" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1260px; ">
            
                <button id="5_5" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 915px; height: 58; width: 108; position: absolute; left: 1675px; ">
            
                <button id="0_22" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 860px; height: 73; width: 93; position: absolute; left: 1020px; ">
            
                <button id="0_28" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: 1004; top: 50px; height: 83; width: 83; position: absolute; left: 1085px; ">
            
                <button id="0_42" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 460px; height: 53; width: 103; position: absolute; left: 920px; ">
            
                <button id="0_35" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 265px; height: 53; width: 63; position: absolute; left: 1605px; ">
            
                <button id="1_4" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 340px; height: 63; width: 63; position: absolute; left: 905px; ">
            
                <button id="0_37" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 280px; height: 63; width: 63; position: absolute; left: 905px; ">
            
                <button id="0_38" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 400px; height: 63; width: 63; position: absolute; left: 905px; ">
            
                <button id="0_36" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 35px; height: 58; width: 123; position: absolute; left: 1125px; ">
            
                <button id="0_1" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 35px; height: 58; width: 118; position: absolute; left: 1595px; ">
            
                <button id="0_5" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 35px; height: 58; width: 118; position: absolute; left: 1485px; ">
            
                <button id="0_4" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 35px; height: 58; width: 128; position: absolute; left: 1360px; ">
            
                <button id="0_3" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 35px; height: 58; width: 118; position: absolute; left: 1245px; ">
            
                <button id="0_2" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 35px; height: 58; width: 108; position: absolute; left: 1705px; ">
            
                <button id="0_6" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 165px; height: 53; width: 63; position: absolute; left: 1685px; ">
            
                <button id="1_2" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 100px; height: 63; width: 63; position: absolute; left: 1030px; ">
            
                <button id="0_41" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >          
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 220px; height: 63; width: 63; position: absolute; left: 950px; ">
            
                <button id="0_39" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 160px; height: 63; width: 63; position: absolute; left: 980px; ">
            
                <button id="0_40" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 570px; height: 63; width: 63; position: absolute; left: 900px; ">
            
                <button id="0_33" onClick="getVal(id)"  style="background-color:33CC33;width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 510px; height: 63; width: 63; position: absolute; left: 900px; ">
            
                <button id="0_34" onClick="getVal(id)"  style="background-color:FF7519;width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 630px; height: 63; width: 63; position: absolute; left: 900px; ">
            
                <button id="0_32" onClick="getVal(id)"  style="background-color:AD5C33;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 820px; height: 63; width: 63; position: absolute; left: 965px; ">
            
                <button id="0_22" onClick="getVal(id)"  style="background-color:6699FF;width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 760px; height: 63; width: 63; position: absolute; left: 945px; ">
            
                <button id="bid="0_23" onClick="getVal(id)"  style="background-color:FF3399;width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON"  style="z_index: auto; top: 690px; height: 73; width: 63; position: absolute; left: 920px; ">
            
                <button id="0_24" onClick="getVal(id)"  style="background-color:FFFF00;width: 100%; height:100%;">     
                </button>
            
        </div>
        
    </div>
    </form>
</body>
</html>