<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" href="download-style.css" />
    <link type="text/css" href="text-toolbar.css" rel="stylesheet" />
</head>
<body>

<script>
function getVal(id){
document.form.action = id;
}
</script>

<form name="form" action="">
    <div style="background-image:url('data:image/jpg;base64,');width:3000px;left:-960px;background-repeat:no-repeat;height:1070px;">
        
        <div class="BUTTON " style="z_index: 1000; top: 365px; height: 253; width: 293; position: absolute; left: 1320px; ">
            
                <button id="btCentro" onClick="getVal(id)" style="background-image:url('images/center.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 215px; height: 53; width: 63; position: absolute; left: 1645px; ">
            
                <button id="b1_3" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 115px; height: 53; width: 63; position: absolute; left: 1730px; ">
            
                <button id="b1_1" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 215px; height: 53; width: 63; position: absolute; left: 1220px; ">
            
                <button id="b6_3" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 315px; height: 53; width: 63; position: absolute; left: 1300px; ">
            
                <button id="b6_5" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 265px; height: 53; width: 63; position: absolute; left: 1260px; ">
            
                <button id="b6_4" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 115px; height: 53; width: 63; position: absolute; left: 1145px; ">
            
                <button id="b6_1" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1200px; ">
            
                <button id="b5_4" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1020px; ">
            
                <button id="b5_1" onClick="getVal(id)" style="background-image:url('images/ani.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1080px; ">
            
                <button id="b5_2" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1140px; ">
            
                <button id="b5_3" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: 1000; top: 455px; height: 53; width: 63; position: absolute; left: 1610px; ">
            
                <button id="b2_5" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1850px; ">
            
                <button id="b2_1" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1670px; ">
            
                <button id="b2_4" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1730px; ">
            
                <button id="b2_3" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 455px; height: 53; width: 63; position: absolute; left: 1790px; ">
            
                <button id="b2_2" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 665px; height: 53; width: 63; position: absolute; left: 1600px; ">
            
                <button id="b3_4" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 715px; height: 53; width: 63; position: absolute; left: 1635px; ">
            
                <button id="b3_3" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >          
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 815px; height: 53; width: 63; position: absolute; left: 1705px; ">
            
                <button id="b3_1" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >          
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 765px; height: 53; width: 63; position: absolute; left: 1665px; ">
            
                <button id="b3_2" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 615px; height: 53; width: 63; position: absolute; left: 1565px; ">
            
                <button id="b3_5" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 455px; height: 53; width: 103; position: absolute; left: 1910px; ">
            
                <button id="b0_14" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: 1003; top: 45px; height: 83; width: 83; position: absolute; left: 1770px; ">
            
                <button id="b0_7" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 110px; height: 63; width: 63; position: absolute; left: 1835px; ">
            
                <button id="b0_8" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 330px; height: 63; width: 63; position: absolute; left: 1955px; ">
            
                <button id="b0_12" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 315px; height: 53; width: 63; position: absolute; left: 1570px; ">
            
                <button id="b1_5" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 150px; height: 63; width: 63; position: absolute; left: 1895px; ">
            
                <button id="b0_9" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 270px; height: 63; width: 63; position: absolute; left: 1955px; ">
            
                <button id="b0_11" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >      
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 210px; height: 63; width: 63; position: absolute; left: 1935px; ">
            
                <button id="b0_10" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 390px; height: 63; width: 63; position: absolute; left: 1955px; ">
            
                <button id="b0_13" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >      
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 570px; height: 63; width: 63; position: absolute; left: 1950px; ">
            
                <button id="b0_16" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 510px; height: 63; width: 63; position: absolute; left: 1950px; ">
            
                <button id="b0_15" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 630px; height: 63; width: 63; position: absolute; left: 1950px; ">
            
                <button id="b0_17" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 810px; height: 53; width: 63; position: absolute; left: 1090px; ">
            
                <button id="b4_1" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 165px; height: 53; width: 63; position: absolute; left: 1180px; ">
            
                <button id="b6_2" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 710px; height: 53; width: 63; position: absolute; left: 1175px; ">
            
                <button id="b4_3" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 760px; height: 53; width: 63; position: absolute; left: 1135px; ">
            
                <button id="b4_2" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 660px; height: 53; width: 63; position: absolute; left: 1220px; ">
            
                <button id="b4_4" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 615px; height: 53; width: 63; position: absolute; left: 1265px; ">
            
                <button id="b4_5" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: 1001; top: 865px; height: 73; width: 93; position: absolute; left: 1750px; ">
            
                <button id="b0_21" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 815px; height: 58; width: 73; position: absolute; left: 1810px; ">
            
                <button id="b0_20" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 690px; height: 63; width: 68; position: absolute; left: 1925px; ">
            
                <button id="b0_18" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 755px; height: 63; width: 73; position: absolute; left: 1875px; ">
            
                <button id="b0_19" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 915px; height: 58; width: 123; position: absolute; left: 1090px; ">
            
                <button id="b0_27" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 915px; height: 58; width: 118; position: absolute; left: 1560px; ">
            
                <button id="b0_23" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 915px; height: 58; width: 118; position: absolute; left: 1445px; ">
            
                <button id="b0_24" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >      
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 915px; height: 58; width: 128; position: absolute; left: 1325px; ">
            
                <button id="b0_25" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >     
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 915px; height: 58; width: 118; position: absolute; left: 1210px; ">
            
                <button id="b0_26" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 460px; height: 53; width: 63; position: absolute; left: 1260px; ">
            
                <button id="b5_5" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 915px; height: 58; width: 108; position: absolute; left: 1675px; ">
            
                <button id="b0_22" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 860px; height: 73; width: 93; position: absolute; left: 1020px; ">
            
                <button id="b0_28" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: 1004; top: 50px; height: 83; width: 83; position: absolute; left: 1085px; ">
            
                <button id="b0_42" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 460px; height: 53; width: 103; position: absolute; left: 920px; ">
            
                <button id="b0_35" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 265px; height: 53; width: 63; position: absolute; left: 1605px; ">
            
                <button id="b1_4" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 340px; height: 63; width: 63; position: absolute; left: 905px; ">
            
                <button id="b0_37" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 280px; height: 63; width: 63; position: absolute; left: 905px; ">
            
                <button id="b0_38" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 400px; height: 63; width: 63; position: absolute; left: 905px; ">
            
                <button id="b0_36" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 35px; height: 58; width: 123; position: absolute; left: 1125px; ">
            
                <button id="b0_1" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 35px; height: 58; width: 118; position: absolute; left: 1595px; ">
            
                <button id="b0_5" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 35px; height: 58; width: 118; position: absolute; left: 1485px; ">
            
                <button id="b0_4" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 35px; height: 58; width: 128; position: absolute; left: 1360px; ">
            
                <button id="b0_3" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 35px; height: 58; width: 118; position: absolute; left: 1245px; ">
            
                <button id="b0_2" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 35px; height: 58; width: 108; position: absolute; left: 1705px; ">
            
                <button id="b0_6" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 165px; height: 53; width: 63; position: absolute; left: 1685px; ">
            
                <button id="b1_2" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 100px; height: 63; width: 63; position: absolute; left: 1030px; ">
            
                <button id="b0_41" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >          
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 220px; height: 63; width: 63; position: absolute; left: 950px; ">
            
                <button id="b0_39" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 160px; height: 63; width: 63; position: absolute; left: 980px; ">
            
                <button id="b0_40" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 570px; height: 63; width: 63; position: absolute; left: 900px; ">
            
                <button id="b0_33" onClick="getVal(id)" style="background-image:url('images/green.jpg');width: 100%; height:100%;" >
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 510px; height: 63; width: 63; position: absolute; left: 900px; ">
            
                <button id="b0_34" onClick="getVal(id)" style="background-image:url('images/orange.jpg');width: 100%; height:100%;" >  
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 630px; height: 63; width: 63; position: absolute; left: 900px; ">
            
                <button id="b0_32" onClick="getVal(id)" style="background-image:url('images/brown.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 820px; height: 63; width: 63; position: absolute; left: 965px; ">
            
                <button id="b0_22" onClick="getVal(id)" style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >   
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 760px; height: 63; width: 63; position: absolute; left: 945px; ">
            
                <button id="bid="b0_23" onClick="getVal(id)" style="background-image:url('images/pink.jpg');width: 100%; height:100%;" > 
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 690px; height: 73; width: 63; position: absolute; left: 920px; ">
            
                <button id="b0_24" onClick="getVal(id)" style="background-image:url('images/yellow.jpg');width: 100%; height:100%;">     
                </button>
            
        </div>
        
    </div>
    </form>
</body>
</html>