<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" href="init-download-style.css" />
    <link type="text/css" href="init-toolbar.css" rel="stylesheet" />
	<script type="text/javascript" src="functions.js"/>
</head>
<body id="general" style="background-color:9933FF;">
    <div style="width:750px;left:140px;background-repeat:no-repeat;height:400px;">
        
        <div class="IMAGE " style="z_index: 997; top: 10px; height: 83; width: 658; position: absolute; left: 0px; ">
            
                <img  src="images/titulo.png"  style="z_index: 997; top: 50px; height: 83; width: 658; position: absolute; left: 70px; "  />
            
        </div>
        
        <div class="BUTTON " style="z_index: 1002; top: 265px; height: 33; width: 88; position: absolute; left: 130px; ">
            
                <button  style="background-image:url('images/yellow.jpg');width: 100%; height:100%;" >
                    
                        YELLOW
                    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 365px; height: 33; width: 88; position: absolute; left: 130px; ">
            
                <button  style="background-image:url('images/pink.jpg');width: 100%; height:100%;" >
                    
                        PINK
                    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 315px; height: 33; width: 88; position: absolute; left: 130px; ">
            
                <button  style="background-image:url('images/blue.jpg');width: 100%; height:100%;" >
                    
                        BLUE
                    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 415px; height: 33; width: 88; position: absolute; left: 130px; ">
            
                <button  style="background-image:url('images/green.jpg');width: 100%; height:100%;" >
                    
                        GREEN
                    
                </button>
            
        </div>
        
        <div class="VLINE " style="z_index: 1005; top: 155px; height: 318; width: 13; position: absolute; left: 65px; ">
            
                <div  style="border-left: 2px solid #484848; margin-left: 5px; height:100%;" >
                    
                        
                    
                </div>
            
        </div>
        
        <div class="VLINE " style="z_index: auto; top: 155px; height: 318; width: 13; position: absolute; left: 260px; ">
            
                <div  style="border-left: 2px solid #484848; margin-left: 5px; height:100%;" >
                    
                        
                    
                </div>
            
        </div>
        
        <div class="HLINE " style="z_index: 1005; top: 465px; height: 18; width: 198; position: absolute; left: 70px; ">
            
                <div  style="border-top: 2px solid #484848; margin-top: 5px;" >
                    
                        
                    
                </div>
            
        </div>
        
        <div class="HLINE " style="z_index: auto; top: 150px; height: 18; width: 198; position: absolute; left: 70px; ">
            
                <div  style="border-top: 2px solid #484848; margin-top: 5px;" >
                    
                        
                    
                </div>
            
        </div>
        
        <!--<div class="BUTTON " style="z_index: 1005; top: 195px; height: 58; width: 208; position: absolute; left: 465px; ">
            
                <button style="width: 100%; height:100%;" >
                   <a href="newUser.scala.html">
                        CREATE NEW USER
						</a>
                    
                </button>
            
        </div>-->
        
        <div style="z_index: 1005; top: 195px; height: 48; width: 208; position: absolute; left: 465px; ">
					<a href="newUser.scala.html">
                        CREATE NEW USER
					</a>
		</div>
		
		<div class="BUTTON " style="z_index: 1005; top: 325px; height: 48; width: 208; position: absolute; left: 465px; ">
            
                <button style="width: 100%; height:100%;" >
                    <a href="statistics.scala.html">
                        STATISTICS
					</a>
                    
                </button>
            
        </div>
		<div class="BUTTON " style="z_index: 1005; top: 405px; height: 48; width: 208; position: absolute; left: 465px; ">
            
                <button style="width: 100%; height:100%;" >
                    <a href="login.scala.html">
                        LOG IN
					</a>
                    
                </button>
            
        </div>
        
        <form action=initial>
        <div class="BUTTON " style="z_index: auto; top: 245px; height: 48; width: 208; position: absolute; left: 465px; ">
            
                <button  id=initial style="width: 100%; height:100%;" >
                    
                        START
                    
                </button>
            
        </div></form>
        
        <div class="VLINE " style="z_index: auto; top: 155px; height: 318; width: 13; position: absolute; left: 395px; ">
            
                <div  style="border-left: 2px solid #484848; margin-left: 5px; height:100%;" >
                    
                        
                    
                </div>
            
        </div>
        
        <div class="VLINE " style="z_index: auto; top: 155px; height: 318; width: 13; position: absolute; left: 720px; ">
            
                <div  style="border-left: 2px solid #484848; margin-left: 5px; height:100%;" >
                    
                        
                    
                </div>
            
        </div>
        
        <div class="HLINE " style="z_index: auto; top: 150px; height: 13; width: 328; position: absolute; left: 400px; ">
            
                <div  style="border-top: 2px solid #484848; margin-top: 5px;" >
                    
                        
                    
                </div>
            
        </div>
        
        <div class="HLINE " style="z_index: auto; top: 465px; height: 13; width: 328; position: absolute; left: 400px; ">
            
                <div  style="border-top: 2px solid #484848; margin-top: 5px;" >
                    
                        
                    
                </div>
            
        </div>
        
        <div class="TEXT text-underline text-center text-bold" style="z_index: 1000; top: 175px; height: 18; width: 158; position: absolute; left: 95px; ">
            
                <p  style="padding: 2px; width: 100%; height:100%;" >       
                        Change backgroud
                    
                </p>
            
        </div>
        
        <div class="BUTTON " style="z_index: 1001; top: 215px; height: 33; width: 88; position: absolute; left: 130px; ">
            
                <button  id='red' style="background-image:url('images/red.jpg');width: 100%; height:100%;" onclick="changeBackground(this)">
                    
                        RED
                    
                </button>
            
        </div>
        
    </div>
</body>


</html>