@(username:String, email:String, password:String) 

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/newUser-style.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/newUser-toolbar.css")' />
</head>
<body>
	<form name=newUserForm" action="register">
	
    <div style="background-image:url('data:image/jpg;base64,');width:800px;left:140px;background-repeat:no-repeat;height:1070px;">
        
        <div class="INPUT " name="usernameInput" style="z_index: 1000; top: 185px; height: 33; width: 283; position: absolute; left: 360px; " required>
            
                <input  style="width: 100%; height:100%;"  type="text"  />
            
        </div>
        
        <div class="TEXT text-center" style="z_index: 1000; top: 185px; height: 33; width: 168; position: absolute; left: 100px; ">
            
                <p  style="padding: 2px; width: 100%; height:100%;" >
                    
                        User name:
                    
                </p>
            
        </div>
        
        <div class="INPUT " name="email" style="z_index: auto; top: 310px; height: 33; width: 283; position: absolute; left: 360px; " required>
            
                <input  style="width: 100%; height:100%;"  type="text"  />
            
        </div>
        
        <div class="TEXT text-center" style="z_index: auto; top: 310px; height: 33; width: 168; position: absolute; left: 100px; ">
            
                <p  style="padding: 2px; width: 100%; height:100%;" >
                    
                        Password
                    
                </p>
            
        </div>
        
        <div class="INPUT " name="password" style="z_index: auto; top: 245px; height: 33; width: 283; position: absolute; left: 360px; " required>
            
                <input  style="width: 100%; height:100%;"  type="text"  />
            
        </div>
        
        <div class="TEXT text-center" style="z_index: auto; top: 245px; height: 33; width: 168; position: absolute; left: 100px; ">
            
                <p  style="padding: 2px; width: 100%; height:100%;" >
                    
                        Email:
                    
                </p>
            
        </div>
        
        <div class="TEXTBOX text-left text-bold text-italic" style="z_index: 1000; top: 105px; height: 48; width: 363; position: absolute; left: 100px; ">
                <div  style="border: 2px solid rgb(72, 72, 72); height:100%; padding: 2px" >
                    
                        In order to create a new user, please complete 
all the fields below.
                </div>
        </div>
        

        <div class="BUTTON " style="z_index: 1005; top: 395px; height: 58; width: 208; position: absolute; left: 465px; ">
                <button id="btRegister" style="width: 100%; height:100%;" >
                        Register                    
                </button>
            
        </div>
        
    </div>
    </form>
</body>
</html>