@(question : model.model.Question)

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/questions-style.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/questions-toolbar.css")' />
</head>
<body>

<script>

function getAnswer(number){
	document.answersForm.action="answer"+number;
}

</script>

    <div style="background-image:url('data:image/jpg;base64,');width:800px;left:140px;background-repeat:no-repeat;height:1070px;">
        
        <div class="TEXT text-center" style="z_index: 1000; top: 120px; height: 93; width: 368; left: 220px; ">
            
                <h2  style="padding: 2px; width: 100%; height:100%;" >
                	@question.getCategory()
                </h2>
            
        </div>
        
        <div class="TEXT text-center" style="z_index: 1000; top: 120px; height: 93; width: 368; left: 220px; ">
            
                <h2  style="padding: 2px; width: 100%; height:100%;" >
                	@question.getQuestion()
                </h2>
            
        </div>
		
		<form name="answersForm" action="">
        	<div class="BUTTON " style="z_index: auto; top: 430px; height: 103; width: 373; left: 220px; ">
                <button onCLick="getAnswer(0)" style="width: 100%; height:100%;" >
                        <h3>@question.getAnswers().get(0)</h3>
                </button>
        	</div>
        	<div class="BUTTON " style="z_index: auto; top: 430px; height: 103; width: 373; left: 220px; ">
                <button onCLick="getAnswer(1)" style="width: 100%; height:100%;" >
                        <h3>@question.getAnswers().get(1)</h3>
                </button>
        	</div>
        	<div class="BUTTON " style="z_index: auto; top: 430px; height: 103; width: 373; left: 220px; ">
                <button onCLick="getAnswer(2)" style="width: 100%; height:100%;" >
                        <h3>@question.getAnswers().get(2)</h3>
                </button>
        	</div>
        	<div class="BUTTON " style="z_index: auto; top: 430px; height: 103; width: 373; left: 220px; ">
                <button onCLick="getAnswer(3)" style="width: 100%; height:100%;" >
                        <h3>@question.getAnswers().get(3)</h3>
                </button>
        	</div>
        	</form>
    </div>
</body>
</html>