@(question : model.model.Question)

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" href="download-style.css" />
    <link type="text/css" href="text-toolbar.css" rel="stylesheet" />
</head>
<body>
    <div style="background-image:url('data:image/jpg;base64,');width:800px;left:140px;background-repeat:no-repeat;height:1070px;">
        
        <div class="TEXT text-center" style="z_index: 1000; top: 120px; height: 93; width: 368; position: absolute; left: 220px; ">
            
                <p  style="padding: 2px; width: 100%; height:100%;" >
                    
                        
Who discovered America?
                    
                </p>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 430px; height: 103; width: 373; position: absolute; left: 220px; ">
            
                <button  style="width: 100%; height:100%;" >
                    
                        Mario Vaquerizo
                    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 535px; height: 103; width: 373; position: absolute; left: 220px; ">
            
                <button  style="width: 100%; height:100%;" >
                    
                        Mario Vaquerizo
                    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: 1000; top: 220px; height: 103; width: 373; position: absolute; left: 220px; ">
            
                <button  style="width: 100%; height:100%;" >
                    
                        Mario Vaquerizo
                    
                </button>
            
        </div>
        
        <div class="BUTTON " style="z_index: auto; top: 325px; height: 103; width: 373; position: absolute; left: 220px; ">
            
                <button  style="width: 100%; height:100%;" >
                    
                        Mario Vaquerizo
                    
                </button>
            
        </div>
        
    </div>
</body>
</html>