<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/statistics-style.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/statisticstoolbar.css")' />
</head>
<body background='images\lightblue.jpg'>
    <div style="width:800px;left:140px;background-repeat:no-repeat;height:1070px;">
        
        <div class="IMAGE " style="z_index: 1000; top: 40px; height: 98; width: 508; position: absolute; left: 145px; ">
            
                <img  src="@routes.Assets.at("images/titulo.png")" style="z_index: 1000; top: 40px; height: 98; width: 508; position: absolute; left: 145px; "  />
            
        </div>
        
        <div class="TABLE " style="z_index: 1001; top: 270px; height: 183; width: 513; position: absolute; left: 300px; ">
			<table border ='10'>
			<tr>
				<td width='150'><strong> User name</strong></td>
				<td width='150'><strong> Games played</strong></td>
				<td width='150'><strong> Questions Answered</strong></td>
				<td width='150'><strong> Questions Correct</strong></td>
			</tr>
			<tr height='35'>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr height='35'>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr height='35'>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		
		</div>
    </div>
</body>
</html>