
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/init-download-style.css")' />
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/init-toolbar.css")' />
</head>
<body id="general" bgcolor="blue">
    <div style="width:750px;left:140px;background-repeat:no-repeat;height:400px;">
        
        <div class="IMAGE " style="z_index: 997; top: 10px; position: absolute; left: 0px; ">
            
                <img src='@routes.Assets.at("images/titulo.png")' style="z_index: 997; top: 50px; left: 70px; "  />
            
        </div>
        
        <div>
        <h1> CONGRATULATION, YOU WIN THE GAME!!!!!</h1>
        </div>
        
        <form action="gotoInitial">
        <div class="BUTTON " style="z_index: 1001; top: 185px; height: 33; width: 98; left: 700px; ">
            
                <button  style="width: 100%; height:100%;" >
                        Play again
                </button>
            
        </div>
      </form>
     
</html>