.BOX {
border: 2px solid #484848;
}

.TEXT {
    font-size: 14px;
    padding: 2px;
    font-family: Georgia,serif;
    line-height: 18px;
}

.HEADER {
    font-size: 22px;
    padding: 2px;
    font-family: Georgia,serif;
    line-height: 26px;
    font-weight: normal;
}
